{% extends "socialaccount/base.html" %}

{% load i18n %}
{% load static %}
{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="login" style="height: 250px;">
  <div style="display: flex; justify-content: space-between; margin-top: 10px ;">
    <img src="{% static 'biourja_logo2.png' %}" alt="BioUrja Logo" height="40px" width="80px">
    <img src="https://cdn-icons-png.flaticon.com/512/732/732221.png" style=" margin-left: 12em; margin-right: 12em;"
      alt="" srcset="" height="25px">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f4/DTN_logo_2019.svg/800px-DTN_logo_2019.svg.png"
      alt="DTN Logo" height="30px">
  </div>
  <div class="container2">

    <h1 class="container2" style="margin-block-end:auto; margin-inline-end: auto;
      margin-inline-start: auto;">{% trans "Sign Up" %}</h1>

    <!-- <p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your
        {{provider_name}} account to login to {{site_name}}. As a final step, please Click on the button below:{% endblocktrans %}</p> -->

    <p style="
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
    ">You are About to Sign Up using Microsoft Azure AD.</p>

    <form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <button style="    width: 200px;
        height: 25px;
        font-size: 16px;
        margin-top: 20px;
        box-shadow: 0 0 40px #f0ebeb;" type="submit">{% trans "Sign Up" %} &raquo;</button>
    </form>


  </div>

</div>


{% endblock %}

